footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-xs);
  border-top: 1px solid var(--border-color);
  color: var(--text-tertiary);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: var(--text-secondary);
}

footer .footer a:hover {
  color: var(--accent-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
